// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.letter {
  background-color: #3ab7f2;
  padding: 10px 15px;
  margin-right: 10px;
  text-align: center;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 1px lightgrey;
}
